@model CourseProject.DataModels.Event

@{
    ViewData["Title"] = "Добавление мероприятия";
}

<div style="display: flex; align-items: center; justify-content: center;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Мероприятие</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" id="text" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableSpace" class="control-label">Количество мест</label>
                <input asp-for="AvailableSpace" class="form-control" />
                <span asp-validation-for="AvailableSpace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label">Дата проведения</label>
                <input asp-for="EventDate" class="form-control"/>
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex; justify-content: space-between">
                <a asp-controller="Events" asp-action="Index" class="btn">К мероприятиям</a>
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    const textarea = document.getElementById('text');

    function autoResize() {
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
    }

    textarea.addEventListener('input', autoResize);
    window.addEventListener('load', autoResize);
</script>
